bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.pdb
bin/Debug/net8.0/GerenciadorTarefas.pdb
bin/Debug/net8.0/GerenciadorTarefas.pdb
bin/Debug/net8.0/GerenciadorTarefas.dll
bin/Debug/net8.0/GerenciadorTarefas.dll
obj/Debug/net8.0/GerenciadorTarefas.AssemblyInfo.cs
